# Model weights (GitHub has a 100MB file limit)
*.pt
*.onnx
*.engine
*.weights

# Datasets
MVRSD_dataset/
data/*
!data/images/
data/images/*
!data/images/val/
data/images/val/*
!data/images/val/AUAU010003.jpg
!data/images/val/AUAU010007.jpg
!data/images/val/AUAU010011.jpg
!data/images/val/AUAU010019.jpg
!data/images/val/AUAU010025.jpg

# Training artifacts & runs
results/
runs/
*.cache
*.pt.old
*.log

# Python & environments
__pycache__/
*.pyc
venv/
.env

# OS + IDE stuff
.DS_Store
Thumbs.db
.vscode/
